@inject UserManager<ApplicationUser> UserManager
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<OrganizationModel>
@{
    var user = await UserManager.GetUserAsync(User);
    List<UserOrganization> listUserOrganizationRelations = user == null
        ? new List<UserOrganization>()
        : user.GetOrganizationRelationsAsync().Result;

    UserOrganization GetUserOrganizationRelation(OrganizationModel organization)
    {
        foreach (var userOrganization in listUserOrganizationRelations)
        {
            if (userOrganization.Organization == organization)
            {
                return userOrganization;
            }
        }
        return new UserOrganization(user, organization);
    }

    List<UserOrganization> userOrganizationRelations = new();
    bool organizationWithAccessExist = false;
    bool organizationWithoutAccessExist = false;

    foreach (var organization in Model)
    {
        var userOrganizationRelation = GetUserOrganizationRelation(organization);
        userOrganizationRelations.Add(userOrganizationRelation);
        if (userOrganizationRelation.AccessRight.HasAnyAccess || User.IsInRole("Admin"))
        {
            organizationWithAccessExist = true;
        }
        else
        {
            organizationWithoutAccessExist = true;
        }
    }
}

<!--SearchOrganisations-->
<p1 class="container" style="text-align: left">
    <form asp-controller="Organization" asp-action="Index" method="get">
        <input type="text"  placeholder="Organisations!" name="SearchString"/>
        <button type="submit">Search</button>
    </form>
    </p1>


<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>


@if (organizationWithAccessExist)
{
    <h1>Organizations you have admin rights to</h1>

    @foreach (var relation in userOrganizationRelations)
    {
        if (relation.AccessRight.HasAnyAccess || User.IsInRole("Admin"))
        {   
            <partial name="_OrganizationPartial" model="relation"/>
        }
    }
}


@if (organizationWithoutAccessExist)
{
    <h1>Student Organizations</h1>
    @foreach (var relation in userOrganizationRelations)
    {
        if (!relation.AccessRight.HasAnyAccess && !User.IsInRole("Admin"))
        {
            <partial name="_OrganizationPartial" model="relation"/>
        }
    }
}
