


.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(400px,1fr));
    gap: 20px;
    font-family: sans-serif;
    margin-bottom: 50px;


}

.grid-item{
    box-shadow: 0 0 3px rgba(0,0,0.1);
}



.profile_picture{
    border-radius: 10%;
    
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}

.card{
    width: 400px;
    height: auto;
    margin: auto;
 
    background: #e5e6e7;
}

.Event_card
{
    width: 400px;
    height: auto;
    margin: auto;
    
    background: #e5e6e7;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    width: 60%;
}
