
.customCard:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}


.a-no-underline {
    text-decoration: none;
}

.a-no-underline:hover {
    color: white;
    text-decoration: none;
    cursor: pointer;
}


.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(400px,1fr));
    gap: 20px;
    font-family: sans-serif;
    margin-bottom: 50px;
}

.grid-item{
    box-shadow: 0 0 3px rgba(0,0,0.1);
}


/*.profile_picture{*/
/*    border-radius: 10%;*/

/*    width: 200px;*/
/*    height: 200px;*/
/*    margin-left: auto;*/
/*    margin-right: auto;*/
/*}*/

/*.card{*/
/*    width: 400px;*/
/*    height: auto;*/
/*    margin: auto;*/

/*    background: #e5e6e7;*/
/*}*/

/*.Event_card*/
/*{*/
/*    width: 400px;*/
/*    height: auto;*/
/*    margin: auto;*/

/*    background: #e5e6e7;*/
/*}*/

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;

    width: 60%;
}

/*.Event_ID{*/
/*    margin-top: 10px;*/
/*    width: 400px;*/
/*    height: 300px;*/

/*    background: #ffffff*/
/*}*/

/*.column_img{*/
/*    float: left;*/
/*    padding: 0px;*/
/*    margin-top: 10px;*/
/*    margin-left: 15px;*/
/*    width: 155px;*/
/*    height: 100px;*/
/*}*/

/*.column_text{*/
/*    float: left;*/
/*    padding: 0px;*/
/*    margin-top: 10px;*/
/*    margin-left: 10px;*/
/*    width: 205px;*/
/*    height: 100px;*/

/*    background: rgba(170, 170, 170, 0.32);*/
/*    overflow: scroll;*/
/*}*/


/*
.row{
    margin: 0px;
    padding: 20px;
    height: 90px;
    width: 100%;

}

.row_in_row{
    height: 30%;
    width: 98%;
    margin: 2px;


}

.row_top_and_bottom{
    margin: 0px;
    padding: 0px;
    width: 400px;
    height: 50px;
}*/

/*.Events_this_week{*/
/*    margin-left: 10px;*/
/*}*/


/*IF (screen is mobilescreen)
{Place columns on top of eachother}
*//*
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}*/