@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div class="container">
    <div class="row justify-content-between">
        <div class="col md-6">
            <br/>
            <iframe src="https://embed.styledcalendar.com/#mHWjcKdM4AiM8rxOXgFy" title="Styled Calendar" class="styled-calendar-container" style="width: 60%;border: none;" data-cy="calendar-embed-iframe" height="60"></iframe>
            <script async type="module" src="https://embed.styledcalendar.com/assets/parent-window.js"></script>        <div class="col md-6">
                Upcoming Events Week 00
            </div>
        </div>
        <div class="row mt-4">
            <div class="col md-12">
                <div class="col">Events you might like</div>
            </div>
        </div>
    </div>
</div>

