@using prosjekt.Data
@using Microsoft.EntityFrameworkCore
@inject ApplicationDbContext DbContext;
@model IEnumerable<EventModel>

<link rel="stylesheet" href="~/css/EventCalendarWidget.css" asp-append-version="true"/>

@{
    // create a function that returns a list of events
    string EventToJsEvent(EventModel e)
    {
        if (e.StartTime == null)
        {
            return null;
        }
        return $"{{eventName: '{e.Title}', date: '{e.StartTime.Date}', celanar: '{e.Organizer.Name}', color: 'red'}}";
    }
}

@{
    var events = await DbContext.EventModels.Include((o) => o.Organizer).ToListAsync();
    var jsEvents = new List<string>();

    foreach (var e in events)
    {
        jsEvents.Add(EventToJsEvent(e));
    }
}

<div class="row FrontPageBody">
    <div class="col">
        <h3 class="text-center">Calendar</h3>
        <div id="calendar"></div>

        <br/>
        <div>
            <span>Show Events: </span>
            <div class="form-check">
                <input id="homePageCheckboxAttending" class="form-check-input" type="checkbox" value="" onclick="updateHomePage()" />
                <label class="form-check-label" for="flexCheckDefault">
                    Attending
                </label>
            </div>
            <div class="form-check">
                <input id="homePageCheckboxOrganizationsYouFollow" class="form-check-input" type="checkbox" value="" onclick="updateHomePage()" />
                <label class="form-check-label" for="flexCheckDefault">
                    Events of Organizations You Follow
                </label>
            </div>
            <div class="form-check">
                <input id="homePageCheckboxPast" class="form-check-input" type="checkbox" value="" onclick="updateHomePage()" />
                <label class="form-check-label" for="flexCheckDefault">
                    Past
                </label>
            </div>
            <div class="form-check">
                <input id="homePageCheckboxOther" class="form-check-input" type="checkbox" value="" onclick="updateHomePage()" />
                <label class="form-check-label" for="flexCheckDefault">
                    Other
                </label>
            </div>
        </div>
    </div>

    <div class="col">
        <h3 class="text-center">Uppcomming Events</h3>
        <div class="overflow-scroll home-event-scroller">
            <partial name="_EventList" model="@Model"/>
        </div>
    </div>
</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>
<script src="~/js/EventCalendarWidget.js" asp-append-version="true"></script>
<script src="~/js/homePage.js" asp-append-version="true"></script>
<script>getHomePageCheckboxSelection()</script>