@using prosjekt.Data
@using Microsoft.EntityFrameworkCore
@inject ApplicationDbContext DbContext;
@model IEnumerable<EventModel>


@{
    // create a function that returns a list of events
    string EventToJsEvent(EventModel e)
    {
        if (e.StartTime == null)
        {
            return null;
        }
        return $"{{eventName: '{e.Title}', date: '{e.StartTime!.Value.Date}', celanar: '{e.Organizer.Name}', color: 'red'}}";
    }
}

@{
    var events = await DbContext.EventModels.Include((o) => o.Organizer).ToListAsync();
    var jsEvents = new List<string>();

    foreach (var e in events)
    {
        jsEvents.Add(EventToJsEvent(e));
    }
}

<div class="row FrontPageBody">
    
    <div class="col">
        <partial name="_EventCalendarWidget"></partial>
    </div>
    <div class="col">
        <h3>Events On Selected Day</h3>
        <partial name="_EventList" model="@Model"/>
    </div>
    <div class="col">
        <h3>Uppcomming Events</h3>
        <partial name="_EventList" model="@Model"/>
    </div>
</div>