@using prosjekt.Data
@using Microsoft.EntityFrameworkCore
@inject ApplicationDbContext DbContext;
@model IEnumerable<EventModel>


@{
    // create a function that returns a list of events
    string EventToJsEvent(EventModel e)
    {
        if (e.StartTime == null)
        {
            return null;
        }
        return $"{{eventName: '{e.Title}', date: '{e.StartTime.Date}', celanar: '{e.Organizer.Name}', color: 'red'}}";
    }
}

@{
    var events = await DbContext.EventModels.Include((o) => o.Organizer).ToListAsync();
    var jsEvents = new List<string>();

    foreach (var e in events)
    {
        jsEvents.Add(EventToJsEvent(e));
    }
}

<div class="row FrontPageBody">

    <div class="col-4">
        <h3>Calendar</h3>
        <partial name="_EventCalendarWidget"></partial>

        <br/>
        <span>Show Events: </span>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                Attending
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                Organizations You Follow
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                Other
            </label>
        </div>
    </div>
    <div class="col">
        <h3>Uppcomming Events</h3>
        <div class="overflow-scroll home-event-scroller">
            <partial name="_EventList" model="@Model"/>
        </div>
    </div>
</div>