@model Comment

<h2>Confirm delition of Comment: @Model.Text</h2>

<form asp-controller="Comment" asp-action="Delete" asp-route-id="@Model.Id">
    <input type="submit" value="Delete" class="btn btn-danger" />
</form>