<div id="calendar"></div>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>
<link rel="stylesheet" href="~/css/EventCalendarWidget.css" asp-append-version="true"/>
<script src="~/js/EventCalendarWidget.js" asp-append-version="true"></script>