@model UserOrganization

<link rel="stylesheet" href="~/css/OrganizationCard.css"/>

<div class="card">

    <div class="imgBox">
        <img src="img/uialogo.png" alt="Picture">
    </div>

    <div class="content">
        <div class="details">
            <h2>@Model.Organization.Name</h2>
            <div class="data">
                <h3>
                    <span>
                        <!--  <div class="text-center" id="toscroll">
                            Html.Raw(Model.Organization.Description)
                        </div> -->
                        this is for the short discription of the organizatio for details click the details button
                    </span>
                </h3>
            </div>


            <div class="actionBtn">
                <a asp-action="Details" asp-route-id="@Model.Organization.Id" class="btn-primary">Details</a>
                @if (User.Identity.IsAuthenticated)
                {
                    @if (Model.IsFollowing)
                    {
                        <a asp-action="Follow" class="btn btn-primary" asp-controller="Organization" asp-route-id="@Model.Organization.Id" asp-route-follow="false">Following</a>
                        <br/>
                    }
                    else
                    {
                        <a asp-action="Follow" class="btn btn-outline-primary" asp-controller="Organization" asp-route-id="@Model.Organization.Id" asp-route-follow="true">Follow</a>
                        <br/>
                    }
                }
            </div>
        </div>
    </div>
</div>


@if (Model.AccessRight.HasAnyAccess)
{
    <span>You Have Accessrights here</span>
}