@model Comment

<form asp-controller="Comment" asp-action="Create" asp-route-id="@Model.EventModelId">
    <div class="card-footer py-3 border-0" style="background-color: #f8f9fa;">
        <div class="d-flex flex-start w-100">
            <img class="rounded-circle shadow-1-strong me-3"
                 src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(19).webp" alt="avatar" width="40"
                 height="40"/>
            
            <div class="form-outline w-100">
                <textarea asp-for="Text" class="form-control" placeholder="Message" rows="4" style="background: #fff;"></textarea>
            </div>

            <div>
                <input type="submit" class="btn btn-primary" value="Comment">
            </div>
        </div>
    </div>
</form>