@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@using prosjekt.Data

@model EventModel

@inject ApplicationDbContext DbContext

@inject UserManager<ApplicationUser> UserManager;
@{
    var user = await UserManager.GetUserAsync(User);
    var userOrganizationRelation = user?.GetRelationToOrganizationAsync(Model.OrganizerId).Result ?? new UserOrganization();
    var userAccessRight = User.IsInRole("Admin")
        ? AccessRight.FullAccess
        : userOrganizationRelation.AccessRight;

    var userEventRelation = await Model.GetUserEventRelationAsync(DbContext, user);
    var attendingUsers = Model.GetAttendingUsersAsync(DbContext).Result;
}

<partial name="_EventPartial" model="Model" />

<div>
    @if (userAccessRight.CanEditEvents)
    {
        <a asp-controller="Event" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
    }
    @if (userAccessRight.CanDeleteEvents)
    {
        <a asp-controller="Event" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>
    }
    
    @* There should be horizontal space between here *@
    @* Or the Hide button should be to the right *@
</div>

<br/>
<br/>

@{
    var newCommentTemp = new Comment
    {
        EventModel = Model,
        EventModelId = Model.Id
    };
}

<partial name="_PostComment" model="newCommentTemp"/>

@{
    var comments = await DbContext.Comments
        .Where(c => c.EventModelId == Model.Id)
        .Include(c => c.PostedBy)
        .OrderBy(c => c.PostTime)
        .ToListAsync();
}

@foreach (var comment in comments)
{
    <partial name="_CommentPartial" model="comment"/>
}