@model EventModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>EventModel</h4>
<hr/>
<div class="row">
    <form asp-action="Edit" asp-controller="Event" asp-route-id="@Model.Id" asp-route-organizerId="@Model.OrganizerId" class="row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id"/>
        <div class="col">
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control"/>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <label asp-for="StartTime" class="control-label"></label>
                <input asp-for="StartTime" class="form-control"/>
                <span asp-validation-for="StartTime" class="text-danger"></span>
                @* @Html.ValidationMessageFor(m => Model.StartTime) *@
            </div>
            <br/>
            <div class="row form-group">
                <label asp-for="Duration" class="control-label"></label>
                <div class="form-group col">
                    <label asp-for="Days" class="control-label"></label>
                    <input asp-for="Days" class="form-control"/>
                    @* <input name="to" value="Mom" /> *@
                </div>
                <div class="form-group col">
                    <label asp-for="Hours" class="control-label"></label>
                    <input asp-for="Hours" class="form-control"/>
                </div>
                <div class="form-group col">
                    <label asp-for="Minutes" class="control-label"></label>
                    <input asp-for="Minutes" class="form-control"/>
                </div>
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary"/>
            </div>
        </div>

        <div class="col-6">
            <div class="form-group">
                <label asp-for="Info" class="control-label"></label>
                <textarea asp-for="Info" class="form-control"></textarea>
                <span asp-validation-for="Info" class="text-danger"></span>
            </div>
        </div>
    </form>
</div>

<div>
    <a asp-controller="Event" asp-action="Details" asp-route-id="@Model.Id">Back to Event</a>
</div>


<script>
tinymce.init({
  selector: 'textarea#Info',
  promotion: false,
  plugins: 'image code table media codesample',
  toolbar: 'undo redo | link image | code',
  /* enable title field in the Image dialog*/
  image_title: true,
  /* enable automatic uploads of images represented by blob or data URIs*/
  automatic_uploads: true,
  /*
    URL of our upload handler (for more details check: https://www.tiny.cloud/docs/configure/file-image-upload/#images_upload_url)
    images_upload_url: 'postAcceptor.php',
    here we add custom filepicker only to Image dialog
  */
  file_picker_types: 'image',
  /* and here's our custom image picker*/
  file_picker_callback: function (cb, value, meta) {
    var input = document.createElement('input');
    input.setAttribute('type', 'file');
    input.setAttribute('accept', 'image/*');

    /*
      Note: In modern browsers input[type="file"] is functional without
      even adding it to the DOM, but that might not be the case in some older
      or quirky browsers like IE, so you might want to add it to the DOM
      just in case, and visually hide it. And do not forget do remove it
      once you do not need it anymore.
    */

    input.onchange = function () {
      var file = this.files[0];

      var reader = new FileReader();
      reader.onload = function () {
        /*
          Note: Now we need to register the blob in TinyMCEs image blob
          registry. In the next release this part hopefully won't be
          necessary, as we are looking to handle it internally.
        */
        var id = 'blobid' + (new Date()).getTime();
        var blobCache =  tinymce.activeEditor.editorUpload.blobCache;
        var base64 = reader.result.split(',')[1];
        var blobInfo = blobCache.create(id, file, base64);
        blobCache.add(blobInfo);

        /* call the callback and populate the Title field with the file name */
        cb(blobInfo.blobUri(), { title: file.name });
      };
      reader.readAsDataURL(file);
    };

    input.click();
  },
  content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:14px }'
});
</script>