@model IEnumerable<EventModel>

<h1>@ViewData["Title"]</h1>

<p>
    @if (ViewData["OrganizationId"] != null)
    {
        <a asp-action="Create" asp-route-id="@ViewData["OrganizationId"]">Create New</a>
    }
</p>

<partial name="_EventList" model="Model" />
